# =========================
# 1. Environment
# =========================
.venv/
venv/

# =========================
# 2. Python cache
# =========================
__pycache__/
*.pyc

# =========================
# 3. Build artifacts
# =========================
*.egg-info/
dist/
build/

# =========================
# 4. Model weights (always ignore)
# =========================
*.pt
*.pth

# =========================
# 5. Training outputs
# =========================
runs/
run/

# =========================
# 6. Generated results
# =========================
generated/*

!generated/README.md

# =========================
# 7. Logs
# =========================
*.log